<header class="main-header">
  <div>
        <img class="logo" src="../../../assets/logo1.png" alt="Logo">
  </div>
  <div class="content-header">
    <div class="top-row">
      
      <div class="search-box">
        <input type="text" placeholder="O que você está procurando?" 
        class="search-input">
        <span class="search-icon">&#128269;</span>
      </div>

      <div>
        <a class="user-menu" href="#">Login</a>
      </div>
    </div>

    <nav class="nav-bar">
      <ul class="nav-list">
        <li><a href="#" class="active">Página principal</a></li>
        <li><a href="#">Todos os produtos</a></li>
        <li><a href="#">Banho e Cuidados</a></li>
        <li><a href="#">Cuidados com as Mão</a></li>
        <li><a href="#">Fragrância da Casa</a></li>
        <li><a href="#">Acessórios de Cabelo</a></li>
        <li><a href="#">Cuidados com a Pele</a></li>
        <li><a href="#">Acessórios Infantis</a></li>
      </ul>
    </nav>
  </div>

</header>
